@charset "utf-8";
/* CSS Document */

body {
        background-color: #FFF;  /*底色*/ 
        margin: 0px; /*緊貼頂部*/
}

#wrapper {
        width: 900px;   /*寬度設定為900px*/
        margin: auto;   /*版面居中對齊*/
        border: 2px solid #DEECDF;
        }

#header {
	background-color: #4B92B0;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 30px;
	background-image: url(images/1.jpg);
        }

/*******按鈕不同部分*******/
#button {
        /*高度設定*/
        height: 23px;

        /*文字設定*/
        font-weight: bolder;
        color: #73BF00;
        font-size: 14px;

        /*背景色設定*/
        background-color:#6E6E6E;

        /*將內定的邊距清除*/
        margin: 0px;
        
        /*將內定的內距清除*/
        padding:0px;
        }

#button li {
       /* 讓各個清單元素靠左對齊 */
          float:left;
 
        /* 設定清單文字範圍的寬度 */
          width:178px;

        /* 去除清單文字前面的小點*/
           list-style-type:none;
 
        /* 設定背景色 */
          background-color:#6E6E6E;
 
        /* 讓清單文字居中對齊 */
           text-align:center;
         
        /* 設定字距為2px */
           letter-spacing: 2px;
        
           /* 設定左邊的白邊樣式 */
           border-left-width: 1px;
           border-left-style: solid;
           border-left-color: #73BF00;
             
           /* 右邊留白1像素 */
           margin-right:1px;
           }

#button li a {
          /* 連結範圍充滿整個區塊 */
          display: block;
   
          /* 單個連結範圍的框度和高度*/
          width: 180px;
          height:20px;
 
           /* 連結範圍向上的內距 */
           padding-top:2px;
 
           /* 連結的文字設為白色以及無裝飾(無底線) */
           color: #73BF00;
           text-decoration: none;
          }

#button li a:hover{
           /* 設定滑鼠移過時，清單改變的底色設定 */
           background-color:#39919F
}

/*******按鈕部分結束*******/

#content {
        font-family: "微軟正黑體", "Arial Unicode MS";
        font-size: 14px;
        line-height: 2em;
        color: #333;
        padding: 30px;
        background-color: #DDE3E3;
        }

#footer {
        font-size: 12px;
        line-height: 1.5em;
        color: #DDE3E3;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        background-color: #4B92B0;
         }

/************標題設定************/

h1{
        color: #FFF;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 30px;
        margin: 0px; /*清除原有的距離*/
     }

.header-text {
	font-size: 18px;
	color: #669999;
	font-weight: bolder;
	font-style: normal;
	margin: 0px;  /*清除原有的距離*/
}


.title-1 {
	font-size: 18px;
	line-height: 2em;
	border-bottom-width: 1px;
	border-left-width: 12px;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-bottom-color: #417C9A;
	border-left-color: #417C9A;
	color: #FFFFFF;
	background-color: #069;
}
.title-2 {
	font-size: 18px;
	line-height: 2em;
	border-bottom-width: 1px;
	border-left-width: 12px;
	border-bottom-style: dotted;
	border-left-style: none;
	border-bottom-color: #417C9A;
	border-left-color: #417C9A;
	color: #000000;
}

.text-s {
        font-size: 13px;
        color: #6F6CA1;
        border-left-width: 2px;
        border-left-style: dotted;
        border-left-color: #8081B1;
        padding-left: 5px;
        font-weight: bolder;
}


/************表格設定************/

#content table {
        border-bottom-width: 5px;
        border-bottom-style: solid;
        border-bottom-color: #278092;
}


#content table tr td {
	padding: 5px;
	font-size: 18px;
	line-height: 1.5em;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #278092;
}


/************表格標題************/
.table_title {
         font-size: 14px;
         font-weight: bolder;
         color: #E9F0E0;
         background-color: #278092;
}


/************連結設定************/

#content a {
        color: #278092;
        text-decoration: none;
}

/************連結滑鼠移過時的設定************/

#content a:hover {
        color: #903;
        text-decoration: underline;
}

/************靠左浮動的設定(繞圖排文時，圖片的設定)************/

.floatleft {
          float: left;
          padding-right: 20px;
          padding-bottom: 20px;
}

/************靠右浮動的設定(繞圖排文時，圖片的設定)************/
.floatright {
          float: right;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 20px;
}

/************清除浮動的設定(繞圖排文時，文字的設定)************/
.clearboth {
          clear: both;
}
.floatleft {
/*將圖片設定靠左浮動，形成繞圖排文*/
        float: left; 
        padding-right: 20px;
        padding-bottom: 20px;
}

.clearboth {
/*清除浮動設定，取消靠左浮動*/
        clear: both;
        }

.iconstyle {
cursor: pointer;
}

#content-L{
  width: 180px;  /*#content-L的寬度*/
  float: left;  /*#content-L設定靠左邊浮動*/
  }
  
#content-R{
  margin-left: 180px;  /*間距設定為180px，(#content-L的寬度)*/
  }

 @media screen and (max-width:600px){
   .content{width:100%;}
 }